# Data
/Data
./Data/
Data/*

/Images
./Images/
Images/*
/images
./images/
images/*

# Data Formats
*.png
*.jpg
*.jpeg
*.bmp
*.tiff
*.gif
*.csv

# Environment
.env
env/

__pycache__

./venv
venv/
.venv

# Copilot
.github/

# Python
generalAI.ipynb

# Annother
/OldProject
/ImgTest
/Models